body{
    background: #EEF9BF;
    color: #75B79E;
    font-family: 'Roboto';
    font-size: 56px;
}
header{
    text-align: center;
    margin: 40px;
}

main{
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main button{
    height: 146px;
    width: 117px;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    border-radius: 5px;
    background-image: url("/img/front.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    margin: 17px;
    cursor: pointer;
}

.cards{
    display: block;
    /* color: transparent; */
}

.card_gotcha{
    background-color: red;
}

.image_1{
    background-image: url("/img/bobrossparrot.gif");
}

.image_2{
    background-image: url("/img/explodyparrot.gif");
}

.image_3{
    background-image: url("/img/fiestaparrot.gif");
}

.image_4{
    background-image: url("/img/metalparrot.gif");
}

.image_5{
    background-image: url("/img/revertitparrot.gif");
}

.image_6{
    background-image: url("/img/tripletsparrot.gif");
}

.image_7{
    background-image: url("/img/unicornparrot.gif");
}