body{
    background: #EEF9BF;
    color: #75B79E;
    font-family: 'Roboto';
    font-size: 56px;
}
header{
    text-align: center;
    margin: 40px;
}

header div{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 75px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 20px;
}

main{
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main button{
    height: 146px;
    width: 117px;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    border-radius: 5px;
    background-image: url("/img/front.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: none;
    margin: 17px;
    transition: all .5s;
}

.cards{
    display: block;
    color: transparent;
}

.card_gotcha{
    background-color: lightgreen;
    border: 2px green solid;
}

.image_1{
    background-image: url("/img/bobrossparrot.gif");
    transform: rotateY(180deg);
}

.image_2{
    background-image: url("/img/explodyparrot.gif");
    transform: rotateY(180deg);
}

.image_3{
    background-image: url("/img/fiestaparrot.gif");
    transform: rotateY(180deg);
}

.image_4{
    background-image: url("/img/metalparrot.gif");
    transform: rotateY(180deg);
}

.image_5{
    background-image: url("/img/revertitparrot.gif");
    transform: rotateY(180deg);
}

.image_6{
    background-image: url("/img/tripletsparrot.gif");
    transform: rotateY(180deg);
}

.image_7{
    background-image: url("/img/unicornparrot.gif");
    transform: rotateY(180deg);
}

@media (max-width: 500px){
    body{
        font-size: 36px;
    }
}